html {
    background: antiquewhite;
}

h1 {
    font-family: 'hanging_lettersregular';
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
    margin: 0 auto;
    text-align: center;
}